body {
    background-image: url(images/wood.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-top: 0px;
    background-color: rgba(214, 204, 187, 0.327);
}
.nav-links {
    list-style-type: none;
    display: flex;
}
.nav-links li {
    padding: 10px;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
.nav-links a:hover, .nav-links a:focus {
    color: #000000;
}
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav-links a:hover::after, .nav-links a:focus::after {
    width: 100%;
    left: 0;
}
.logo {
    width: 60px;
    height: 60px;
}


#board {
    width: 80vw;
    height: 80vw;
    max-width: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 20px auto;
    border: 2px solid #333;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.buttons {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f5deb3;
    color: #8b4513;
}

.checker-board {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

